<!-- mini_fb/home.html -->


{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>MiniFacebook</h1>
<h2>Showing all Profiles</h2>

<!-- display the context data -->

<!-- Create a table to store name, city, and image with headers-->
<table>
<tr>
    <th style="width:150px">Name</th>
    <th style="width:150px">Hometown</th>
    <th style="width:150px">Image</th>
</tr>

<!-- For loop to print out each name, city, and image -->

{% for p in profiles %}
    <tr>
        <td><a href="{% url 'profile' p.pk %}">{{p.first_name}} {{p.last_name}}</a></td>
        <td>{{p.city}}</td>
        <td><a href="{% url 'profile' p.pk %}"><img src="{{p.profile_image_url}}" style ="max-width:125;"></a></td>
    </tr>

    {% endfor %}

</table>

{% endblock %}
